
 <!-- Contact section start -->
 <section class="contact">
  <div class="container">
      <div class="row">
          <div class="col-lg-7 col-md-9 m-auto text-center">
              <div class="sec-heading">
                  <span class="tagline">Contact us</span>
                  <h3 class="sec-title">If You Have Any Enquiry, <br>Drop a Message</h3>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-8">
              <form [formGroup] ="contactForm" (ngSubmit) = "onSubmit()" >
                  <div class="row">
                      <div class="form-group col-sm-6">
                          <label for="f_name">First name</label>
                          <input type="text" class="form-control" id="f_name" placeholder="Full Name" formControlName ="firstname" [(ngModel)]="user.firstname || merchant.firstname" value="{{user.firstname || merchant.firstname}}" required>
                      </div>
                      <div class="form-group col-sm-6">
                          <label for="l_name">Last name</label>
                          <input type="text" class="form-control" id="l_name" placeholder="Last name" formControlName ="lastname" [(ngModel)]="user.lastname || merchant.lastname" value="{{user.lastname || merchant.firstname}}">
                      </div>
                      <div class="form-group col-sm-6">
                          <label for="email">email</label>
                          <input type="email" class="form-control" id="email" placeholder="Email address" formControlName ="email" [(ngModel)]="user.email || merchant.email" value="{{user.email || merchant.email}}" required>
                      </div>
                      <div class="form-group col-sm-6">
                          <label for="phone">Phone number</label>
                          <input type="text" class="form-control" id="phone" formControlName ="phoneNumber" [(ngModel)]="user.phoneNumber || merchant.phoneNumber" placeholder="Phone number">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="message">Your Message</label>
                      <textarea name="message" class="form-control" id="message" placeholder="Your Message" formControlName ="firstname" [(ngModel)]="user.message || merchant.message" required=""></textarea>
                  </div>
                  <button type="submit" class="btn btn-default">send message</button>
              </form>
          </div>
          <div class="col-md-4">
              <aside class="sidebar">
                  <div class="widget contact-info">
                      <h3 class="widget-title">Contact info</h3>

                      <div>
                          <h6>Location Info</h6>
                          <span>2 Abiodun Banire off Lekki-Epe,
                            Expressway, Lagos State</span>
                      </div>
                      <div>
                          <h6>Hotline numbers</h6>
                          <a href="tel:+2348095861553">+2348095861553</a>
                      </div>
                      <div>
                          <h6>Email Us</h6>
                          <a href="mailto:info@vinebill.com">info@vinebill.com</a>
                      </div>
                  </div>
              </aside>
          </div>
      </div>
  </div>
</section>
<ngx-spinner
bdColor="rgba(51,51,51,0.9)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white"><img style="width:auto;height:auto;" src="/assets/images/vinelogo.png" alt="" srcset=""> <span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span></p>
</ngx-spinner>
<!-- Contact section end -->


<!--Removed Map Session-->

<!-- Map start -->
<!--<section class="map-section">-->
  <!--<div id="map"> </div>-->
<!--</section>-->
<!-- Map end -->
