
      <aside class="col-lg-3 sidebar" style="display: contents, max-width 25%">
        <div class="widget admin-widget p-0">
          <div class="Profile-menu">
            <ul class="nav secondary-nav">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/merchant/"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/merchant/edit-profile"
                  ><i class="fab fa-autoprefixer"></i> Account</a
                >
              </li>



              <li class="nav-item">
                <a class="nav-link" href="#profile-notifications.html"
                  ><i class="fas fa-cog"></i>Setting</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="widget admin-widget">
          <i class="fas fa-coins admin-overlay-icon"></i>
          <h2>Earn N25</h2>
          <p>Have questions or concerns regrading</p>
          <a href="#" class="btn btn-default btn-center"
            ><span>Refer A friend</span></a
          >
        </div>

        <div class="widget admin-widget">
          <i class="fas fa-comments admin-overlay-icon"></i>
          <h2>Need Help?</h2>
          <p>
            Have questions or concerns regrading your account?<br />
            Our experts are here to help!.
          </p>
          <a href="#" class="btn btn-default btn-center"
            ><span>Start Chat</span></a
          >
        </div>
      </aside>



