  <!-- Profile bar -->
  <div class="profilebar shadow mt-2 border-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="balance-area">
                    <a href="#">
                        <div class="header-pro-thumb">
                            <img class="rounded-circle" src="/assets/images/profile.jpg" alt="">
                        </div>
                        <span class="pl-4 pt-1"><b>Jhone Due</b></span>
                    </a>


                </div>
            </div>
            <div class="col">
                <div class="local-time">
                    <p><b>Local Time:</b> 12:00PM</p>
                </div>
            </div>
            <div class="col">
                <div class="local-time">
                    <p><b>Last Visit:</b>1/12/2020 - 12:00PM</p>
                </div>
            </div>
            <div class="col notify-col text-right">
                <div class="notify-btn"><a href="profile-notifications.html"><i class="far fa-bell"></i></a></div>
            </div>
        </div>
    </div>
</div>
<!-- End Profile bar -->

<!-- Content -->
<div id="content" class="py-4">
<div class="container">
    <div class="row">

        <!-- Left sidebar -->
        <aside class="col-lg-3 sidebar">
                <div class="widget admin-widget p-0">
                    <div class="Profile-menu">
                      <ul class="nav secondary-nav">
                        <li class="nav-item active"><a class="nav-link" routerLink = '/user'><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/profile"><i class="fab fa-autoprefixer"></i> Account</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink = '/cards'><i class="fas fa-university"></i> Cards Accounts</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/wallet"><i class="fab fa-autoprefixer"></i> Wallet</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink = '/transactions'><i class="fas fa-list-ul"></i>Transactions</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink = '/settings'><i class="fas fa-cog"></i>Setting</a></li>
                    </ul>
                    </div>
                </div>

                <div class="widget admin-widget">
                    <i class="fas fa-coins admin-overlay-icon"></i>
                    <h2>Earn $25</h2>
                    <p>Have questions or concerns regrading</p>
                    <a href="#" class="btn btn-default btn-center"><span>Refer A friend</span></a>
                </div>

                <div class="widget admin-widget">
                    <i class="fas fa-comments admin-overlay-icon"></i>
                    <h2>Need Help?</h2>
                    <p>Have questions or concerns regrading your account?<br>
                        Our experts are here to help!.</p>
                    <a href="#" class="btn btn-default btn-center"><span>Start Chat</span></a>
                </div>

            </aside>
            <!-- Left Panel End -->

        <!-- Middle Panel  -->
        <div class="col-lg-9">
            <h2 class="admin-heading">Roysha cards account(for payments) <a href="#" data-target="#add-new-card"  class="account-card-new d-flex align-items-center  btn-link pbtn" data-id="add-new-card" > New Card</a></h2>
            <!-- Credit or Debit Cards  -->
            <div class="infoItems bg-offwhite  shadow">
                <div class="row">
                    <div class="col-12">
                            <h3>Current cards (3)</h3>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cardBox">
                        <div class="account-card account-card-primary">
                                <p class="pirotry text-right">Primery</p>
                            <div class="row">
                                <p class="card-number col-12">XXXX-XXXX-XXXX-8943</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="valid-card">Valid true</p>
                                    <p class="expare ">05/28</p>
                                </div>
                                <div class="col-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-holder-name">Sohne Due</p>
                                </div>
                                <div class="col-6">
                                    <img class="ml-auto" src="/assets/images/visa.png" alt="visa" title="">
                                </div>
                            </div>
                            <div class="account-card-overlay">
                                <a href="#" data-target="#edit-card-details"class="text-light btn-link pbtn" data-id="edit-card-details"> <span class="mr-1"><i class="fas fa-edit"></i></span>Edit</a>
                                <a href="#" class="text-light btn-link pbtn"> <span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cardBox">
                        <div class="account-card account-card-primary">
                                <p class="pirotry text-right">Secondary </p>
                            <div class="row">
                                <p class="card-number col-12">XXXX-XXXX-XXXX-2353</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="valid-card">Valid true</p>
                                    <p class="expare ">05/25</p>
                                </div>
                                <div class="col-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-holder-name">Sohne Due</p>
                                </div>
                                <div class="col-6">
                                    <img class="ml-auto" src="/assets/images/mastercard.png" alt="visa" title="">
                                </div>
                            </div>
                            <div class="account-card-overlay">
                                <a href="#" data-target="#edit-card-details"class="text-light btn-link pbtn" data-id="edit-card-details"> <span class="mr-1"><i class="fas fa-edit"></i></span>Edit</a>
                                <a href="#" class="text-light btn-link mx-2"> <span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cardBox">
                        <div class="account-card account-card-primary">
                                <p class="pirotry text-right bg-warning">Upcoming</p>
                            <div class="row">
                                <p class="card-number col-12">XXXX-XXXX-XXXX-2353</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="valid-card">Valid true</p>
                                    <p class="expare ">05/25</p>
                                </div>
                                <div class="col-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-holder-name">Sohne Due</p>
                                </div>
                                <div class="col-6">
                                    <img class="ml-auto" src="/assets/images/mastercard.png" alt="visa" title="">
                                </div>
                            </div>
                            <div class="account-card-overlay">
                                <a href="#">
                                    Active your Card
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cardBox">
                        <div class="account-card account-card-primary text-center p-4">
                            <a href="#" data-target="#add-new-card"  class="account-card-new d-flex align-items-center  btn-link pbtn" data-id="add-new-card" >
                                <p class="text-center">
                                    <span class="text-3"><i class="fas fa-plus-circle"></i></span>
                                    <span class="d-block">Add New Card</span>
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-12">
                            <h3>Past cards (2)</h3>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cardBox">
                        <div class="account-card account-card-primary">
                                <p class="pirotry text-right bg-danger">Expired</p>
                            <div class="row">
                                <p class="card-number col-12">XXXX-XXXX-XXXX-8943</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="valid-card">Valid true</p>
                                    <p class="expare ">05/28</p>
                                </div>
                                <div class="col-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-holder-name">Sohne Due</p>
                                </div>
                                <div class="col-6">
                                    <img class="ml-auto" src="/assets/images/visa.png" alt="visa" title="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 cardBox">
                        <div class="account-card account-card-primary">
                                <p class="pirotry text-right bg-danger">Expired</p>
                            <div class="row">
                                <p class="card-number col-12">XXXX-XXXX-XXXX-2353</p>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="valid-card">Valid true</p>
                                    <p class="expare ">05/25</p>
                                </div>
                                <div class="col-6">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-holder-name">Sohne Due</p>
                                </div>
                                <div class="col-6">
                                    <img class="ml-auto" src="/assets/images/mastercard.png" alt="visa" title="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit Card info  -->
            <div id="edit-card-details" class="accord bg-offwhite mt-3 p-3  shadow">
                <div class="content-edit-area">
                    <div class="edit-header">
                        <h5 class="title">Update Card</h5>
                        <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="edit-content">
                        <form id="update-card" method="post">
                            <div class="form-group">
                                <label for="edircardNumber">Your Card Number</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text"><img class="ml-auto" src="images/visa.png" alt="visa" title=""></span></div>
                                    <input type="text" class="form-control" data-card-form="edircardNumber" id="edircardNumber" disabled value="XXXXXXXXXXXX4623" placeholder="Card Number">
                                </div>
                            </div>
                            <div class="form-group">
                                    <label for="edit-card-holder-name">Card Holder Name</label>
                                    <input type="text" class="form-control" data-card-form="edit-card-holder-name" id="edit-card-holder-name" required value="Sohne Due" placeholder="Card Holder Name">
                                </div>
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="edit-expire-name">Expiry Date</label>
                                        <input id="edit-expire-name" type="text" class="form-control" data-card-form="edit-expire-name" required value="05/25" placeholder="MM/YY">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="edit-cvv-number">CVV Number <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For this youre credit the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number."><i class="fas fa-question-circle"></i></span></label>
                                        <input id="edit-cvv-number" type="password" class="form-control" data-card-form="edit-cvv-number" required value="321" placeholder="CVV (3 digits)">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Security question</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Security question">
                                    </div>
                                </div>

                            </div>

                            <button class="btn btn-default d-block">
                                <span>Update Card</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Edit Card info End -->

            <!-- Add New Card info  -->
            <div id="add-new-card" class="accord bg-offwhite mt-3 p-3  shadow">
                <div class="content-edit-area">
                    <div class="edit-header">
                        <h5 class="title">Add a Card</h5>
                        <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="edit-content">
                        <form id="add-Card" method="post">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="your-card-provider">Your Card Provider</label>
                                        <select id="your-card-provider" class="custom-select" required="">
                                            <option value="01">Your Card Provider</option>
                                            <option value="02">Visa</option>
                                            <option value="03">MasterCard</option>
                                            <option value="04">American Express</option>
                                            <option value="05">Discover</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="you-card-type">Card Type</label>
                                        <select id="you-card-type" class="custom-select" required="">
                                            <option value="">Card Type</option>
                                            <option value="debit">Debit</option>
                                            <option value="Credit">Credit</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="cardNumber">Card Number</label>
                                <input type="text" class="form-control" data-bv-field="cardnumber" id="cardNumber" required value="" placeholder="Card Number">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="expiryDate">Expiry Date</label>
                                        <input id="expiryDate" type="text" class="form-control" data-bv-field="expiryDate" required value="" placeholder="MM/YY">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="cvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i class="fas fa-question-circle"></i></span></label>
                                        <input id="cvvNumber" type="password" class="form-control" data-bv-field="cvvnumber" required value="" placeholder="CVV (3 digits)">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="edit-card-holder-name">Card Holder Name</label>
                                        <input type="text" class="form-control" data-card-form="edit-card-holder-name" id="edit-card-holder-name" required placeholder="Card Holder Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Security question</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Security question">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-default btn-center btn-block">
                                <span class="bh"></span>
                                <span>Add Card</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Add New Card info End -->

            <!-- Add New Card Details Modal -->
            <div id="add-new-card-details  shadow" class="modal fade" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title font-weight-400">Add a Card</h5>
                            <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body p-4">
                            <form id="addCard" method="post">
                                <div class="btn-group d-flex btn-group-toggle mb-3" data-toggle="buttons">
                                    <label class="btn btn-outline-secondary btn-sm shadow-none w-100 active">
                                        <input type="radio" name="options" id="option1" checked>
                                        Debit </label>
                                    <label class="btn btn-outline-secondary btn-sm shadow-none w-100">
                                        <input type="radio" name="options" id="option2">
                                        Credit </label>
                                </div>
                                <div class="form-group">
                                    <label for="cardType">Card Type</label>
                                    <select id="cardType" class="custom-select" required="">
                                        <option value="">Card Type</option>
                                        <option>Visa</option>
                                        <option>MasterCard</option>
                                        <option>American Express</option>
                                        <option>Discover</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="cardNumber">Card Number</label>
                                    <input type="text" class="form-control" data-bv-field="cardnumber" id="cardNumber" required value="" placeholder="Card Number">
                                </div>
                                <div class="form-row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="expiryDate">Expiry Date</label>
                                            <input id="expiryDate" type="text" class="form-control" data-bv-field="expiryDate" required value="" placeholder="MM/YY">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="cvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i class="fas fa-question-circle"></i></span></label>
                                            <input id="cvvNumber" type="password" class="form-control" data-bv-field="cvvnumber" required value="" placeholder="CVV (3 digits)">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="cardHolderName">Card Holder Name</label>
                                    <input type="text" class="form-control" data-bv-field="cardholdername" id="cardHolderName" required value="" placeholder="Card Holder Name">
                                </div>
                                <button class="btn btn-default btn-center btn-block">
                                    <span class="bh"></span>
                                    <span>Add Card</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Credit or Debit Cards End -->

        </div>
        <!-- Middle Panel End -->

    </div>
</div>
</div>
<!-- Content end -->
