
<!-- Page feature start -->
    <section class="page-feature py-5">
      <div class="container text-center">
          <div class="row">
              <div class="col-md-6">
                  <h2 class=" text-left">About Us</h2>
              </div>
              <div class="col-md-6">
                  <div class="breadcrumb text-right">
                      <a routerLink='/'>Home</a>
                      <span>/ About us</span>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Page feature end -->

  <!-- About section start -->
  <section class="about bg-offwhite">
      <div class="container">
          <div class="row">
              <div class="col-lg-7 col-md-9 m-auto text-center">
                  <div class="sec-heading">
                      <span class="tagline">About us</span>
                      <h3 class="sec-title">Seamless, No Hassles Online Mobile Recharge</h3>
                  </div>
              </div>
          </div>
          <div class="row align-items-center">
              <div class="col-md-6">
                  <div class="entry-content">
                      <h3>Vinebill</h3>
                      <p>Vinebill is a payment solution that focuses on providing an easy and reliable platform to provide seamless mobile aitime top-up utility and bill payments.</p>
                      <h6>Features.</h6>
                      <ul>
                        <p>
                          <li>Airtime Top-up</li>
                        </p>
                        <p>
                          <li>Utility Bill</li>
                        </p>

                      </ul>

                  </div>
              </div>
              <div class="col-md-6">
                  <div class="video-box">
                      <img src="/assets/images/about.jpg" alt="About Vine pay">
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- About section end -->

  <!-- Start Partner Section -->
  <section class="partners">
      <div class="container">
          <div class="row">
              <div class=" col-md-12 m-auto text-center">
                  <div class="sec-heading mb-4">
                      <span class="tagline">Partners</span>
                      <h3 class="sec-title"> Our Trusted Partners </h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 m-auto">
                  <div class="featuredOfferBox">
                      <div class="featuredOffer-caro fc-3 owl-carousel" data-slide="4" data-return="false">
                          <a href="#" class="fItems">
                              <img src="/assets/images/partners/1.png" alt="" class="featuredimg">
                          </a>
                          <a href="#" class="fItems">
                              <img src="/assets/images/partners/2.png" alt="" class="featuredimg">
                          </a>
                          <a href="#" class="fItems">
                              <img src="/assets/images/partners/3.png" alt="" class="featuredimg">
                          </a>
                          <a href="#" class="fItems">
                              <img src="/assets/images/partners/4.png" alt="" class="featuredimg">
                          </a>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- End Partner Section -->

  <section class="team-esection bg-offwhite">
      <div class="container">
          <div class="row">
              <div class="col-lg-7 col-md-9 m-auto text-center">
                  <div class="sec-heading">
                      <span class="tagline">Our staff</span>
                      <h3 class="sec-title">Enjoy airtime top-up, Everywhere,</h3>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  <div class="widget instractors text-center">
                      <figure>
                          <img src="/assets/images/team/team1.jpg" alt="" class="avatar-lg">
                      </figure>
                      <div class="team-bio">
                          <h4>Henry Ford</h4>
                          <span>Captain</span>
                          <!-- <span class="total-courses"><i class="ti-user"></i> 09 Courses</span> -->
                          <div class="socials">
                              <a href="#" class="facebook"><i class="ti-facebook"></i></a>
                              <a href="#" class="twitter"><i class="ti-twitter-alt"></i></a>
                              <a href="#" class="linkedin"><i class="ti-linkedin"></i></a>
                              <a href="#" class="youtube"><i class="ti-youtube"></i></a>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="widget instractors text-center">
                      <figure>
                          <img src="/assets/images/team/team2.jpg" alt="" class="avatar-lg">
                      </figure>
                      <div class="team-bio">
                          <h4>Coco Chanel</h4>
                          <span>Manger</span>
                          <!-- <span class="total-courses"><i class="ti-user"></i> 09 Courses</span> -->
                          <div class="socials">
                              <a href="#" class="facebook"><i class="ti-facebook"></i></a>
                              <a href="#" class="twitter"><i class="ti-twitter-alt"></i></a>
                              <a href="#" class="linkedin"><i class="ti-linkedin"></i></a>
                              <a href="#" class="youtube"><i class="ti-youtube"></i></a>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="widget instractors text-center">
                      <figure>
                          <img src="/assets/images/team/team3.jpg" alt="" class="avatar-lg">
                      </figure>
                      <div class="team-bio">
                          <h4>Lech Walesa</h4>
                          <span>Driver</span>
                          <!-- <span class="total-courses"><i class="ti-user"></i> 09 Courses</span> -->
                          <div class="socials">
                              <a href="#" class="facebook"><i class="ti-facebook"></i></a>
                              <a href="#" class="twitter"><i class="ti-twitter-alt"></i></a>
                              <a href="#" class="linkedin"><i class="ti-linkedin"></i></a>
                              <a href="#" class="youtube"><i class="ti-youtube"></i></a>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="col-md-3">
                  <div class="widget instractors text-center">
                      <figure>
                          <img src="/assets/images/team/team4.jpg" alt="" class="avatar-lg">
                      </figure>
                      <div class="team-bio">
                          <h4>Jack Nax</h4>
                          <span>Assistant Driver</span>
                          <!-- <span class="total-courses"><i class="ti-user"></i> 09 Courses</span> -->
                          <div class="socials">
                              <a href="#" class="facebook"><i class="ti-facebook"></i></a>
                              <a href="#" class="twitter"><i class="ti-twitter-alt"></i></a>
                              <a href="#" class="linkedin"><i class="ti-linkedin"></i></a>
                              <a href="#" class="youtube"><i class="ti-youtube"></i></a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="section shadow-md pt-4 pb-3">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="iconBox">
                      <i class="fas fa-lock"></i>
                      <h5>Secure Payments</h5>
                      <p>Moving your card details to a much more secured place.</p>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="iconBox">
                      <i class="fas fa-hand-holding-usd"></i>
                      <h5>Trust pay</h5>
                      <p>100% Payment Protection. Easy Return Policy.</p>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="iconBox">
                          <i class="fas fa-retweet"></i>
                      <h5>Refer &amp; Earn</h5>
                      <p>Invite a friend to sign up and earn up to $125.</p>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="iconBox">
                      <i class="fab fa-superpowers"></i>
                      <h5>24/7 Support</h5>
                      <p>We're here to help. Have a query and need help ? <a routerLink = '/contact'>Click here</a></p>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="callto-action">
          <!-- Wrapper -->
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-md-9 m-auto text-center">
                      <div class="sec-heading">
                          <span class="tagline text-white">Contact Info</span>
                          <h3 class="sec-title">Have questions? Get in touch. </h3>
                      </div>
                  </div>
              </div>
              <div class="row">

                  <!-- OneFourth -->
                  <div class="col-lg-12 contactInfo  text-center">

                      <p><span class="circle small"><i class="ti-mobile"></i></span> +2348095861553</p>
                      <p><span class="circle small"><i class="ti-email"></i></span> <a href="mailto:info@vinebill.com">info@vinebill.com</a></p>
                  </div>
                  <!-- //OneFourth -->

              </div>
          </div>
          <!-- //Wrapper -->
      </section>

      <ngx-spinner
      bdColor="rgba(51,51,51,0.9)"
      size="medium"
      color="#fff"
      type="ball-scale-multiple">
      <p style="font-size: 20px; color: white"><img style="width:auto;height:auto;" src="/assets/images/vinelogo.png" alt="" srcset=""> <span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span></p>
    </ngx-spinner>
