  <!-- Call to action section start -->
  <section class="callto-action">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <h3 *ngIf="!isAuthenticated">Become A Vinebill Partner today</h3>
                <h3 *ngIf="isAuthenticated"> {{user.firsname || merchant.firstname || user.email || merchant.email}} Enjoying your experience??</h3>

            </div>

            <div class="col-md-4 text-md-right">
                <a *ngIf="!isAuthenticated" routerLink='/merchant/register' class="btn btn-default">Register Now</a>
                <a *ngIf="isAuthenticated"  class="btn btn-default">Share On facebook</a>
            </div>
        </div>
    </div>
</section>
<!-- Call to action section end -->



<!-- Footer strat -->
<footer class="footer">
    <div class="foo-top">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-navigation">
                        <h4 class="widget-title">About Vinepay</h4>
                        <div class="widget-content">
                            <p>Vinebill is a payment solution that focuses on providing an easy and reliable platform to provide seamless mobile aitime topm utility and bill payments.</p>
                            <ul class="social-media">
                                <li><a href="#"><i class="ti-facebook"></i></a></li>
                                <li><a href="#"><i class="ti-twitter"></i></a></li>
                                <li><a href="#"><i class="ti-instagram"></i></a></li>
                                <li><a href="#"><i class="ti-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-navigation">
                        <h4 class="widget-title">Quick Links</h4>
                        <ul>
                            <li><a routerLink = '/policy'>Contact Searches</a></li>
                            <li><a routerLink = '#'>Privacy Policy</a></li>
                            <li><a routerLink = '/policy'>Terms and Conditions</a></li>
                            <li><a routerLink = '/policy'>Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="widget widget-navigation">
                        <h4 class="widget-title">Need Help?</h4>
                        <ul>
                            <li><a routerLink = '/contact'>Contact Us</a></li>
                            <li><a routerLink = '/faq'>Faq</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                  <div class="widget widget-navigation">
                      <h4 class="widget-title">Contact Us</h4>
                      <div class="widget-content">
                        <p>2 Abiodun Banire off Lekki-Epe, Expressway, Lagos State</p>
                        <ul class="social-media">
                            <li><a href="tel:+2348095861553">+2348095861553</a></li><br>
                            <li><a href="mailto:info@vinebill.com">info@vinebill.com</a></li>
                        </ul>
                    </div>
                  </div>
              </div>


            </div>
        </div>
    </div>


    <div class="foo-btm">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="copyright text-left el-sm-center">Copyright © <script>
                            document.write(new Date().getFullYear());
                        </script> <i class="ti-heart"></i> <a href="#">VineBill</a>. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="payments-types text-right  el-sm-center">
                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="/assets/images/pay/visa.png" alt="visa" title="" data-original-title="Visa"></a></li>
                        <li><a href="#" target="_blank"> <img data-toggle="tooltip" src="/assets/images/pay/mastercard.png" alt="Mastercard" title="" data-original-title="Mastercard"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- Footer end -->
