<!-- Main form start -->
<section class="main-form" style="padding: 0px; top:0;">
  <div class="container">
      <div class="nav justify-content-center">
          <div class="col-md-12"  >
              <ul class="bill-items nav nav-tabs" id="teleporter" style="width:80%; margin:0 auto">
                  <li class="nav-item ynav"><a routerLink = '/mobile' class="nav-link"><i class="fas fa-mobile"></i> AIRTIME</a></li>
                  <li class="nav-item ynav"><a routerLink = '/databundle'  class="nav-link"><i class="fa fa-wifi" aria-hidden="true"></i>DATA</a></li>
                  <li class="nav-item ynav"><a routerLink = '/tv'  class="nav-link"><i class="fas fa-tv"></i>CABLE TV</a></li>
                  <li class="nav-item ynav"><a routerLink = '/electricity' id="electricity" class="nav-link"> <i class="fas fa-lightbulb"></i>ELECTRICITY</a> </li>
                  <li class="nav-item ynav"><a routerLink = '/bankTransfer'  class="nav-link"><i class="fas fa-shopping-bag"></i>SHOPPING</a></li>
                  <li class="nav-item ynav"><a routerLink = '/wallet'  class="nav-link"><i class="fas fa-wallet"></i>WALLET</a></li>
                  <li class="nav-item ynav"><a routerLink = '/education' id="education"  class="nav-link"><i class="fas fa-book"></i>EDUCATION</a></li>
                  <li class="nav-item ynav"><a routerLink = '/tickets'  class="nav-link"><i class="fas fa-ticket-alt"></i>TICKETS</a></li>

              </ul>


          </div>
      </div>

  </div>
</section>
<!-- Main form end -->
