//removed the carousel styles to make room for responsiveness
//.carousel-inner > .carousel-item > img {
 // width:100%;
 // height:20rem;
//}

//.carousel-caption > .heading {
  //margin-bottom: 7rem;
 // margin-right: 50rem;
 // font-size: x-large;
 // width:30%;
//}

.followUp {

  font-size: small;
}

// styling the nav

#electricity, #education{
  font-size:0.8rem;
  overflow:wrap;
}

.ynav{
  margin:0.1rem;
  width:fit-content;
  font-size: auto;
  text-align:center;
}



