<!-- Slider -->
<app-slider class="carousel slide"></app-slider>
<!-- Slider Ends -->

<app-midnav></app-midnav>


<!-- Feature section start -->
<section class="feature" style="padding: 0px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="iconBox">
                    <i class="fas fa-globe"></i>
                    <h5><a href="#">Worldwide Service</a></h5>
                    <p>We offer international transfer through a secured and fast wallet system</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h5><a href="#">Cheapest Price</a></h5>
                    <p>Our price is unbeatable</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="iconBox">
                    <i class="fas fa-times-circle"></i>
                    <h5><a href="#">Easy Cancellation</a></h5>
                    <p>Cancel transactions without questions</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature section end -->


<!-- Work section start -->
<section class="work bg-bluewhite">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-9 m-auto text-center">
                <div class="sec-heading">
                    <span class="tagline">What We Do </span>
                    <h3 class="sec-title">Simple, fast and Hassle Free payments </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="process">
                    <ul>
                        <li class="card">
                            <span class="icon-bg">
                                <i class="ti-signal"></i>
                            </span>
                            <h5>Phone Recharge & Data Top Up</h5>
                            <p>Recharge your mobile phones without stress or network delay</p>
                        </li>
                        <li class="card">
                            <span class="icon-bg">
                                <i class="ti-calendar"></i>
                            </span>
                            <h5>Bill Payments</h5>
                            <p>Pay Electricity bills BEDC, EKO ELECTRIC</p>
                        </li>
                        <li class="card">
                            <span class="icon-bg">
                                <i class="ti-user"></i>
                            </span>
                            <h5>Bus Tickets</h5>
                            <p>Travel like a boss by booking bus tickets in advance</p>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-6">
                <div class="process">
                    <ul>
                        <li class="card">
                            <span class="icon-bg">
                                <i class="ti-palette"></i>
                            </span>
                            <h5>Cheapay Shop </h5>
                            <p>Buy cheap items for our shops with wallets</p>
                        </li>
                        <li class="card">
                            <span class="icon-bg">
                                <i class="ti-layers"></i>
                            </span>
                            <h5>Transfer money to Bank </h5>
                            <p>Transfer money to any bank and from any bank</p>
                        </li>
                        <li class="card">
                          <span class="icon-bg">
                              <i class="ti-layers"></i>
                          </span>
                          <h5>E-WALLETS </h5>
                          <p>Get an e-wallet, fund your wallets and transfer from wallet to wallet</p>
                      </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Work section end -->

<!-- Feature section start -->
<section class="we-work bg-offwhite">
    <div class="container">
        <div class="row">
            <div class=" col-md-12 m-auto text-center">
                <div class="sec-heading mb-4">
                    <span class="tagline">Service provider</span>
                    <h3 class="sec-title">Become Our Trusted Partner</h3>
                </div>
            </div>
        </div>
        <div class="portfolioITems">
            <div class="ui-group filters mb-disable">
                <div class="button-group js-radio-button-group" data-filter-group="color">
                    <button class="button is-checked" data-filter="">All</button>
                    <button class="button" data-filter=".data">Data</button>
                    <button class="button" data-filter=".dth">Dth</button>
                    <button class="button" data-filter=".broadband">Broadband</button>
                    <button class="button" data-filter=".electricity">Electricity</button>
                    <button class="button" data-filter=".emi">emi</button>
                    <button class="button" data-filter=".gas">gas</button>
                    <button class="button" data-filter=".insurance">insurance</button>
                    <button class="button" data-filter=".land">land</button>
                    <button class="button" data-filter=".metro">metro</button>
                    <button class="button" data-filter=".postpaid">postpaid</button>
                    <button class="button" data-filter=".prepaid">prepaid</button>
                    <button class="button" data-filter=".tax">tax</button>
                    <button class="button" data-filter=".traffic">traffic</button>
                    <button class="button" data-filter=".tv">tv</button>
                    <button class="button" data-filter=".water">water</button>
                </div>
            </div>
            <div class="portGrid row">
                <div class="protItem col-3 col-md-1 data">
                    <img src="/assets/images/bill/data/1.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 data">
                    <img src="/assets/images/bill/data/3.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 dth">
                    <img src="/assets/images/bill/dth/1.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 dth">
                    <img src="/assets/images/bill/dth/2.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 dth">
                    <img src="/assets/images/bill/dth/3.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 dth">
                    <img src="/assets/images/bill/dth/4.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 dth">
                    <img src="/assets/images/bill/dth/5.png" alt="" class="we-work-img">
                </div>

                <div class="protItem col-3 col-md-1 broadband">
                    <img src="/assets/images/bill/broadband/1.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 broadband">
                    <img src="/assets/images/bill/broadband/2.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 broadband">
                    <img src="/assets/images/bill/broadband/3.png" alt="" class="we-work-img">
                </div>

                <div class="protItem col-3 col-md-1 electricity">
                    <img src="/assets/images/bill/electricity/1.png" alt="" class="we-work-img">
                </div>
                <div class="protItem col-3 col-md-1 electricity">
                    <img src="/assets/images/bill/electricity/2.png" alt="" class="we-work-img">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Feature section end -->

<!-- Counter Section -->
<section class="countersection bg-blue text-white">
    <div class="container">
        <div class="row" id="counter">
            <div class="col-md-3">
                <div class="iconBox">
                    <i class="fas fa-globe"></i>
                    <h5><span class="counter-value" data-count="1203">0</span>M</h5>
                    <p>Transactions</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h5><span class="counter-value" data-count="7820">0</span>M</h5>
                    <p>Users</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox">
                    <i class="fas fa-arrow-alt-circle-down"></i>
                    <h5><span class="counter-value" data-count="90066">0</span></h5>
                    <p>App Downloads</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox">
                    <i class="fas fa-comments"></i>
                    <h5><span class="counter-value" data-count="4000">0</span></h5>
                    <p>App Review</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Counter Section -->

<!-- App Section start -->
<section class="app-section">
    <div class="container-fluid">

        <div class="row align-items-center">
            <div class="col leftside  text-md-right text-sm-center">
                <div class="app-inner-block">
                    <div class="contentBox">
                        <h3>Go to Vinebill - Download the IOS Super App </h3>
                        <p>Download the app now &amp; make convenience a part of your life.</p>
                        <a title="Google Play" target="_blank" href="#" class="btn-google-store">
                            <img src="/assets/images/app/app-store.png" alt="" class="googleplay">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col middleside">
                <img src="/assets/images/app/phone.png" alt="" id="app">
                <img style="position:absolute; top:150%;z-index: 1000;" src="/assets/images/vlogo.png" alt="" srcset="">
                <img style="position:absolute; top:130%;z-index: 1000;" src="/assets/images/vlogo.png" alt="" srcset="">
                <img style="position:absolute; width:13rem; left:15%; top:34%;z-index: 1000;background-color: #F3F3F3;" src="/assets/images/vlogo.png" alt="" srcset="">
              </div>
            <div class="col rightside">
                <div class="app-inner-block text-md-left text-sm-center">
                    <div class="contentBox">
                        <h3>Go Vinebill - Download the Android Super App </h3>
                        <p>Download the app now &amp; start earning <br>smartly.</p>
                        <a title="Google Play" target="_blank" href="#" class="btn-google-store">
                            <img src="/assets/images/app/google-play-store.png" alt="" class="googleplay">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- App Section End -->

<section class="section bg-light shadow-md pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="iconBox">
                    <i class="fas fa-lock"></i>
                    <h5>Secure Payments</h5>
                    <p>Moving your card details to a much more secured place.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox">
                    <i class="fas fa-hand-holding-usd"></i>
                    <h5>Trust pay</h5>
                    <p>100% Payment Protection. Easy Return Policy.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox">
                        <i class="fas fa-retweet"></i>
                    <h5>Refer &amp; Earn</h5>
                    <p>Invite a friend to sign up and earn up to $125.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="iconBox">
                    <i class="fab fa-superpowers"></i>
                    <h5>24/7 Support</h5>
                    <p>We're here to help. Have a query and need help ? <a href="contact.html">Click here</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
