
      <aside class="col-lg-3 sidebar" style="display: contents, max-width 25%">
        <div class="widget admin-widget p-0">
          <div class="Profile-menu">
            <ul class="nav secondary-nav">
              <li class="nav-item active"><a class="nav-link" routerLink = '/user'><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/payment/funByAccessBnk"><i class="fab fa-autoprefixer"></i> Access Bank</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/payment/fundbyFirstBnk"><i class="fab fa-piggy-bank"></i> First Bank</a></li>
              <li class="nav-item"><a class="nav-link" routerLink = '/payment/fundByGtBank'><i class="fas fa-university"></i> GtBank</a></li>
              <li class="nav-item"><a class="nav-link" routerLink = '/payment/fundByProvidus'><i class="fas fa-list-ul"></i>Providus</a></li>
              <li class="nav-item"><a class="nav-link" href="/payment/fundByCard"><i class="fas fa-plus"></i>Fund by Card</a></li>
            </ul>
          </div>
        </div>

        <div class="widget admin-widget">
          <i class="fas fa-coins admin-overlay-icon"></i>
          <h2>Earn N25</h2>
          <p>Have questions or concerns regrading</p>
          <a href="#" class="btn btn-default btn-center"
            ><span>Refer A friend</span></a
          >
        </div>


      </aside>



