<div class="example-container main">
  <div class="haeder">
    <h1>Make Payment</h1>
  </div>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Pay</button>
  </form>

</div>
