<!--  Hero section-->
<div class="hero-section">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="progress" data-percentage="100">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                      <div class="profile-thumb mt-3 mb-4">
                          <img class="rounded-circle" src="/assets/images/profile.jpg" alt="">
                          <div class="profile-thumb-edit verify-icon" data-toggle="tooltip" title="Profile Verified">
                              <i class="fas fa-check"></i>
                          </div>
                      </div>

                  </div>
              </div>
              <p class="profile-name">Jhone Doue</p>
          </div>
          <div class="col-md-9">
              <div class="row profile-completeness">
                  <div class="col-sm-6 col-md-3 mb-4 mb-md-0">
                      <div class="border rounded p-3 text-center profile-step"><span class="d-block text-10 text-light mt-2 mb-3"><i class="fas fa-mobile-alt bg-icon"></i></span> <span class="text-5 d-block text-success mt-4 mb-3"><i class="fas fa-check-circle"></i></span>
                          <p class="mb-0">Mobile Added</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3 mb-4 mb-md-0">
                      <div class="border rounded p-3 text-center profile-step"><span class="d-block text-10 text-light mt-2 mb-3"><i class="fas fa-envelope bg-icon"></i></span> <span class="text-5 d-block text-success mt-4 mb-3"><i class="fas fa-check-circle"></i></span>
                          <p class="mb-0">Email Added</p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3 mb-4 mb-sm-0">
                      <div class="border rounded p-3 text-center profile-step"><span class="d-block text-10 text-light mt-2 mb-3"><i class="fas fa-credit-card bg-icon"></i></span>
                          <span class="text-5 d-block text-light mt-4 mb-3"><i class="far fa-circle "></i></span>
                          <p class="mb-0"><a class="btn-link" href="">Add Card</a></p>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                      <div class="border rounded p-3 text-center profile-step"><span class="d-block text-10 text-light mt-2 mb-3"><i class="fas fa-university bg-icon"></i></span> <span class="text-5 d-block text-light mt-4 mb-3"><i class="far fa-circle "></i></span>
                          <p class="mb-0"><a class="btn-link" href="">Add Bank</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End of Hero section-->

<!-- Content  -->
<div id="content" class="py-4">
  <div class="container">
      <div class="row">
          <!-- Left side bar -->
          <app-user-aside style="display: contents;"></app-user-aside>
          <!-- Left Panel End -->

          <!-- Middle Panel  -->

          <div class="col-lg-9">
              <div class="row">
                  <div class="col-lg-12">
                      <!-- Available Balance -->
                      <div class="bg-light shadow-sm text-center mb-3">
                          <div class="d-flex admin-heading pr-3">
                              <div class="mr-auto">
                                  <h2 class="text-9 font-weight-400"><i class="fas fa-wallet"></i> Available Balance</h2>
                              </div>
                              <div class="ml-auto">
                                  <h3 class="text-9 font-weight-400">N3641.00</h3>
                              </div>
                          </div>
                      </div>
                      <!-- Available Balance End -->
                  </div>
              </div>
              <div class="col-md-12 recharge-order-page">
                  <ul class="nav nav-pills" id="pills-tab" role="tablist">

                      <li class="nav-item">
                          <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Order</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Summary</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="four-tab" data-toggle="pill" href="#four" role="tab" aria-controls="pills-contact" aria-selected="false">Payment</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" id="five-tab" data-toggle="pill" href="#five" role="tab" aria-controls="pills-contact" aria-selected="false">Done</a>
                      </li>
                  </ul>
                  <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                          <form>
                              <div class="form-group">
                                  <label>fund Your Wallet</label>
                                  <input type="text" class="form-control shadow form-control-lg mobilenumber" id="mobilenumber2" required placeholder="Enter Mobile Number">
                              </div>

                            <!-- forms to be ade here -->
                          </form>
                      </div>
                      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                          <div class="order-summery">
                              <h3 class="title">Order Summary</h3>
                              <table class="table">
                                  <thead>
                                      <tr>
                                          <th scope="col">Recipient</th>
                                          <th scope="col">Operator</th>
                                          <th scope="col">Receive amount</th>
                                          <th scope="col">Price</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <th scope="row">+2348095861553</th>
                                          <td>Mobile Operator</td>
                                          <td>400 NGN</td>
                                          <td>N05 NGN</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Subtotal</th>
                                          <td></td>
                                          <td></td>
                                          <td>N05 NGN</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Processing fee</th>
                                          <td></td>
                                          <td></td>
                                          <td>N00 NGN</td>
                                      </tr>
                                      <tr>
                                          <th scope="row">Total</th>
                                          <td></td>
                                          <td></td>
                                          <td>N05 NGN</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                              <label class="form-check-label" for="exampleCheck1">Free - Send them an sms?</label>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck2">
                              <label class="form-check-label" for="exampleCheck2">I have a promotional code</label>
                          </div>
                          <div class="buttons">
                              <a class="base-button" href="#">+ Add another top-up</a>
                              <a class="base-button" href="#">Proceed to checkout</a>
                          </div>
                          <ul class="pager my-5">
                              <li><a href="#" class="btn btn-default "><i class="fas fa-chevron-left"></i> Previous</a></li>
                              <li><a href="#" class="btn btn-default "> Next <i class="fas fa-chevron-right"></i></a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="four" role="tabpanel" aria-labelledby="four-tab">
                          <div class="payment">
                              <h3 class="title">Payment Methods</h3>
                              <div class="row">
                                  <div class="col-md-3 col-sm-6">
                                      <div class="single-payment">
                                          <img src="/assets/images/payment-1.png" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6">
                                      <div class="single-payment">
                                          <img src="/assets/images/payment-2.png" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6">
                                      <div class="single-payment">
                                          <img src="/assets/images/payment-3.png" alt="">
                                      </div>
                                  </div>
                                  <div class="col-md-3 col-sm-6">
                                      <div class="single-payment">
                                          <img src="/assets/images/payment-4.png" alt="">
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="credit-card">
                              <form>
                                  <h3 class="title">Credit Card Information</h3>
                                  <div class="row">
                                      <div class="col-xl-12 col-lg-12">
                                          <div class="form-group">
                                              <label for="exampleInputEmail09">Credit Card Number</label>
                                              <input type="email" class="form-control" id="exampleInputEmail09" placeholder="">
                                          </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6">
                                          <div class="form-group">
                                              <label for="exampleInputEmail10">Expiration Date</label>
                                              <input type="email" class="form-control" id="exampleInputEmail10" placeholder="MM / YY">
                                          </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6">
                                          <div class="form-group">
                                              <label for="exampleInputEmail11">Cvv</label>
                                              <input type="email" class="form-control" id="exampleInputEmail11" placeholder="CVC">
                                          </div>
                                      </div>
                                      <div class="col-xl-12 col-lg-12">
                                          <div class="form-group">
                                              <label for="exampleInputEmail12">Full Name</label>
                                              <input type="email" class="form-control" id="exampleInputEmail12" placeholder="">
                                          </div>
                                      </div>
                                  </div>
                              </form>

                          </div>
                          <div class="credit-card">
                              <form>
                                  <h3 class="title">Billing Address</h3>
                                  <div class="row">
                                      <div class="col-xl-12 col-lg-12">
                                          <div class="form-group">
                                              <label for="exampleInputEmail05">Street Address</label>
                                              <input type="email" class="form-control" id="exampleInputEmail05" placeholder="">
                                          </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6">
                                          <div class="form-group">
                                              <label for="exampleInputEmail06">City</label>
                                              <input type="email" class="form-control" id="exampleInputEmail06" placeholder="">
                                          </div>
                                      </div>
                                      <div class="col-xl-6 col-lg-6">
                                          <div class="form-group">
                                              <label for="exampleInputEmail07">Country</label>
                                              <input type="email" class="form-control" id="exampleInputEmail07" placeholder="Country">
                                          </div>
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="exampleCheck3">
                              <label class="form-check-label" for="exampleCheck3">Stored Credit/Debit Card for future use.</label>
                          </div>
                          <ul class="pager my-5">
                              <li><a href="#" class="btn btn-default "><i class="fas fa-chevron-left"></i> Previous</a></li>
                              <li><a href="#" class="btn btn-default "> Next <i class="fas fa-chevron-right"></i></a></li>
                          </ul>
                      </div>
                      <div class="tab-pane fade" id="five" role="tabpanel" aria-labelledby="five-tab">
                          <div class="done my-5">
                              <h3 class="title">Payment Successful</h3>
                              <span class="text-5 d-block text-success mt-4 mb-3">
                                  <i class="fas fa-check-circle"></i>
                              </span>
                              <p>Your payment N8 has been successfully<br>
                                  to receive <b>+2348095861553</b> Mobile Operator.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Middle Panel End -->
      </div>
  </div>
</div>
<!-- Content end -->
