<div class="mat-app-background container-fluid py-4">
  <div class="row">
  <app-payment-nav style="display: contents;"></app-payment-nav>
  <div class="col-lg-7 profile-area">
    <div class="haeder">
      <h1 class="text-width">Fund Wallet from fundByCard</h1>
    </div>
    <form>
      <mat-form-field appearance="fill" class="text-width">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="text-width">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill" class="text-width">
        <mat-label>Input</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" class="button-width">Fund Wallet</button>
    </form>

  </div>
  </div>
</div>




