 <!-- Page feature start -->
 <section class="page-feature py-5">
  <div class="container text-center">
      <div class="row">
          <div class="col-md-6">
              <h2 class=" text-left">FAQ</h2>
          </div>
          <div class="col-md-6">
              <div class="breadcrumb text-right">
                  <a routerLink = '/'>Home</a>
                  <span>/ FAQ</span>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Page feature end -->

<!-- Banner section start -->
<section class="banner bg-offwhite">
  <div class="container">
      <div class="row">
          <div class="col-md-8 m-auto">
              <div class="ban-content text-center">
                  <h1>We Are Here To Help You</h1>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspe ultrices gravida. Risus commodo viverra maecenas .</p>
              </div>
              <form class="bill-form v2" action="#">
                  <div class="form-field">
                      <div class="join-field">
                          <input type="text" placeholder="Type a question...">
                          <button class="btn btn-block btn-filled form-btn"><span class="bh"></span> <span>Search</span></button>
                      </div>
                  </div>
                  <span class="form-txt">*We are collect your searching keywords to improve our FAQ</span>
              </form>
          </div>
      </div>
  </div>
</section>
<!-- Banner section end -->

<!-- Faq section start -->
<section class="faq-tab">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="bg-light shadow-md rounded p-4">
                  <h2 class="text-6">Send a Request</h2>
                  <p>Please fill out the form below and we promise you to get back to you within a couple of hours.</p>
                  <form id="form-area" method="post">
                      <div class="form-group">
                          <label for="subject">Subject</label>
                          <select class="custom-select" id="subject" required="">
                              <option value="">Select Your Subject</option>
                              <option>Recharge &amp; Bill</option>
                              <option>Account</option>
                              <option>Payment</option>
                              <option>Mobile Bill</option>
                              <option>DTH</option>
                              <option>Data Card</option>
                              <option>Landline</option>
                              <option>Broadband</option>
                              <option>Electricity</option>
                              <option>Gas</option>
                              <option>Other</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="yourName">Your Name</label>
                          <input type="text" class="form-control" id="yourName" required="" placeholder="Enter Your Name">
                      </div>
                      <div class="form-group">
                          <label for="yourEmail">Your Email</label>
                          <input type="email" class="form-control" id="yourEmail" required="" placeholder="Enter Email">
                      </div>
                      <div class="form-group">
                          <label for="mobileNumber">Mobile Number</label>
                          <input type="text" class="form-control" data-bv-field="number" id="mobileNumber" required="" placeholder="Enter Mobile Number">
                      </div>
                      <div class="form-group">
                          <label for="yourProblem">Your Query</label>
                          <textarea class="form-control" rows="5" id="yourProblem" required="" placeholder="Specify your query"></textarea>
                      </div>
                      <button class="btn btn-filled" type="submit">Submit</button>
                  </form>
              </div>
          </div>
          <div class="col-md-6">
              <ul class="row nav nav-tabs">
                  <li class="col-md-3">
                      <a class="active" data-toggle="tab" href="#general-qs">
                          <i class="ti-receipt mb-0"></i>
                      </a>
                  </li>
                  <li class="col-md-3">
                      <a data-toggle="tab" href="#trasn-money">
                          <i class="ti-rocket mb-0"></i>
                      </a>
                  </li>
                  <li class="col-md-3">
                      <a data-toggle="tab" href="#mbl-banking">
                          <i class="ti-mobile mb-0"></i>
                      </a>
                  </li>
                  <li class="col-md-3">
                      <a data-toggle="tab" href="#fee-charges">
                          <i class="ti-pencil-alt mb-0"></i>
                      </a>
                  </li>
              </ul>

              <div class="tab-content">
                  <div id="general-qs" class="tab-pane fade in active show">
                      <div class="accordion" id="accordion">
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-1" aria-expanded="true">
                                  How can I make a account?
                              </h5>
                              <div id="faq-1" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-2" aria-expanded="false">
                                  Input Wallet Informations
                              </h5>

                              <div id="faq-2" class="collapse show" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-3" aria-expanded="false">
                                  Confirm information and payover
                              </h5>

                              <div id="faq-3" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-4" aria-expanded="false">
                                  Access Your Mobile Wallet
                              </h5>

                              <div id="faq-4" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-5" aria-expanded="false">
                                  Input Wallet Informations
                              </h5>

                              <div id="faq-5" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-6" aria-expanded="false">
                                  Is there any registration fee?
                              </h5>

                              <div id="faq-6" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#faq-7" aria-expanded="false">
                                  How does it work?
                              </h5>

                              <div id="faq-7" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="trasn-money" class="tab-pane fade">
                      <div class="accordion" id="accordion1">
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#tm-1" aria-expanded="true">
                                  Access Your Mobile Wallet
                              </h5>
                              <div id="tm-1" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#tm-2" aria-expanded="false">
                                  Input Wallet Informations
                              </h5>

                              <div id="tm-2" class="collapse show" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#tm-3" aria-expanded="false">
                                  Confirm information and payover
                              </h5>

                              <div id="tm-3" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="mbl-banking" class="tab-pane fade">
                      <div class="accordion" id="accordion2">
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#mblb-1" aria-expanded="true">
                                  Input Wallet Informations
                              </h5>
                              <div id="mblb-1" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#mblb-2" aria-expanded="false">
                                  Access Your Mobile Wallet
                              </h5>

                              <div id="mblb-2" class="collapse show" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#mblb-3" aria-expanded="false">
                                  Confirm information payover
                              </h5>

                              <div id="mblb-3" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div id="fee-charges" class="tab-pane fade">
                      <div class="accordion" id="accordion3">
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#fc-1" aria-expanded="true">
                                  Your Mobile Wallet
                              </h5>
                              <div id="fc-1" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscied do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspen disse ultrices gravida.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#fc-2" aria-expanded="false">
                                  Input Wallet Informations
                              </h5>

                              <div id="fc-2" class="collapse show" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Molestie eu blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                          <div class="accordion-item">
                              <h5 class="collapsed" data-toggle="collapse" data-target="#fc-3" aria-expanded="false">
                                  Confirm information and payover
                              </h5>

                              <div id="fc-3" class="collapse" data-parent="#accordion">
                                  <div class="acr-body">
                                      <p>Blandit eu sodales, nulla vitae nulla tempor et porta, ante nec commodo. Nulla non fringilla urna dolor vivamus, vulputate eu neque vivamus lacus in, imperdiet id sed malesuada per.</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Faq section end -->

<!-- Question section start -->
<section class="question bg-offwhite">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 m-auto text-center">
              <div class="sec-heading mb-4">
                  <h2 class="sec-title">Have a Question?</h2>
                  <p class="sec-subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
              </div>
              <a href="#" class="btn btn-filled btn-round"><span class="bh"></span> <span>Ask a Question</span></a>
          </div>
      </div>
  </div>
</section>
<!-- Question section end -->
