<!-- Slider -->
<app-slider class="carousel slide"></app-slider>
<!-- Slider Ends -->
<app-midnav></app-midnav>
<!-- Main form start -->
<section class="main-form navCntent">
  <div class="container">


    <div class="row navalign">
      <div class="col-md-12 form-area " style="margin-top: 12px;">
          <h2 class="text-4 mb-3">Provide Smartcard Details</h2>
          <form id="form-area" method="post">
              <div class="">



              </div>

              <div class="form-row">
                  <div class="col-md-6 col-lg-3 form-group">
                      <input type="text" class="form-control" data-bv-field="number" id="mobileNumber" required="" placeholder="Provide Smartcard number">
                  </div>
                  <div class="col-md-6 col-lg-3 form-group">
                      <select class="custom-select" id="operator" required="">
                          <option value="">Select Your Operator</option>
                          <option>DSTV</option>
                          <option>GOTV</option>
                          <option>STARTIMES</option>
                      </select>
                  </div>



                  <div class="col-md-6 col-lg-2 form-group">
                      <a class="btn btn-default btn-block rounded-0" href="recharge-summary.html">Continue</a>
                  </div>
              </div>
          </form>
      </div>
  </div>
  </div>
</section>
<!-- Main form end -->
