
<app-midnav></app-midnav>
<!-- Main form start -->
<section class="main-form navCntent navalign">
  <div class="container">


    <div class="row navalign">
      <div class="col-md-12 form-area " style="margin-top: 12px;">
          <h2 class="text-4 mb-3">Provide Meter Number</h2>
          <form id="form-area" method="post">
              <div class="">



              </div>

              <div class="form-row">
                  <div class="col-md-6 col-lg-3 form-group">
                      <input type="text" class="form-control" data-bv-field="number" id="mobileNumber" required="" placeholder="Provide Smartcard number">
                  </div>
                  <div class="col-md-6 col-lg-3 form-group">
                      <select class="custom-select" id="operator" required="">
                          <option value="">Select Your Operator</option>
                          <option>Abuja / </option>
                          <option>Enugu / </option>
                          <option>Eko / </option>
                          <option>Ibadan / </option>
                          <option>Ikeja / </option>
                          <option>Jos / </option>

                          <option>Kaduna / </option>
                          <option>Kano / </option>
                          <option>PortHacourt / </option>
                      </select>
                  </div>


                  <div class="col-md-6 col-lg-3 form-group">
                    <select class="custom-select" id="operator" required="">
                        <option value="">Select Your Meter Type</option>
                        <option>Post-paid </option>
                        <option>Pre-paid </option>
                    </select>
                </div>




                  <div class="col-md-6 col-lg-2 form-group">
                      <a class="btn btn-default btn-block rounded-0" href="#">Continue</a>
                  </div>
              </div>
          </form>
      </div>
  </div>
  </div>
</section>
<!-- Main form end -->
<ngx-spinner
bdColor="rgba(51,51,51,0.9)"
size="medium"
color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white"><img style="width:auto;height:auto;" src="/assets/images/vinelogo.png" alt="" srcset=""> <span class="d">.</span><span class="d d-2">.</span><span class="d d-3">.</span></p>
</ngx-spinner>
