<!-- Profile bar -->
<div class="profilebar shadow mt-2 border-2">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="balance-area">
                  <a href="#">
                      <div class="header-pro-thumb">
                          <img class="rounded-circle" src="/assets/images/profile.jpg" alt="">
                      </div>
                      <span class="pl-4 pt-1"><b>Jhone Due</b></span>
                  </a>


              </div>
          </div>
          <div class="col">
              <div class="local-time">
                  <p><b>Local Time:</b> 12:00PM</p>
              </div>
          </div>
          <div class="col">
              <div class="local-time">
                  <p><b>Last Visit:</b>1/12/2020 - 12:00PM</p>
              </div>
          </div>
          <div class="col notify-col text-right">
              <div class="notify-btn"><a href="profile-notifications.html"><i class="far fa-bell"></i></a></div>
          </div>
      </div>
  </div>
</div>
<!-- End Profile bar -->




